[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.7"

[dev-packages]

[packages]
flask = "*"
pillow = "*"
numpy = "*"
imgaug = "*"
pandas = "*"
google-images-download = "*"
requests = "*"
lxml = "*"
jupyter = "*"
jupyterthemes = "*"
ipython = "*"
torch = "*"
torchvision = "*"
black = "==19.3b0"
tb-nightly = "==1.15.0a20190816"
imageio = "*"
